fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
requests
beautifulsoup4
lxml
playwright
psycopg2-binary
httpx
loguru
uvloop
rapidfuzz

tenacity
pandas
openpyxl
xlsxwriter
curl_cffi
supabase
psutil
